<%- include('includes/header') %>
<body>
    <div>
    <div>PRODUCTS PAGE</div>
    <div><%=<member class="member.memberNick"></member>></div>

    <% product.map((value, key) => {%>
        <p><%= value.productName %> %- <%= value.productSize %> </p> 

        <% }) %>
    </div>
</body>
<%- include('includes/footer') %>